#no {
    border: 2px solid rgb(238, 135, 152);
    border-radius: 8px;
    padding: 5px;

}
#st {
    border: 2px solid rgb(238, 135, 152);
    border-radius: 8px;
    padding: 5px;

}
strong{
    border: 2px solid rgb(238, 135, 152);
    border-radius: 8px;
    padding: 5px;
    background: #ff0eaf88; 
}

center{
    font-style:oblique;
    font-size:larger; 
       }